body {
  font-family: 'Roboto', sans-serif;
  background: rgb(5, 62, 115);
}

.logout-wrapper {
  max-width: 420px;
  max-height: 300px;
  margin: 80px auto;
  text-align: center;
}

.login-wrapper {    
	max-width: 420px;
  margin: 80px auto;
}

.login-form {
	max-width: 420px;
  padding: 30px 0;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-button {
  margin-top: 40px;
}

.colorgraph {
  width: 320px;
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.error-message {
  margin-top: 20px;
  color: red;
}

.login-err-animation {
  animation: shake 200ms ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.recording-list-wrapper {
  padding: 10px;
}

.recording-list-body {
  min-height: 200px;
  padding: 10px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.recording-card {
  margin: 20px;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.recording-list-loading {
  margin-top: 40px;
}

.recording-list-appear {
  opacity: 0.01;
}

.recording-list-appear.recording-list-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}